@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700|Lobster&display=swap');


/*======================================texts,anchors,headings.buttons*/

.capitalize {
    text-transform: capitalize;
}

p {

    font-family: "Lobster", cursive;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 40px;
    color: #f4f4f4;
}

h4 {
    padding-top: 10px;
}

a:hover {
    color: #007bff;
}

.firm {
    font-family: "Heebo", sans-serif;
    color: #f4f4f4;
    background-color: #708090;
}

.firm:hover {
    text-decoration: none;
    background-color: #f4f4f4;
    color: #708090;
}

.btn-primary {
    background-color: #708090;
    color: #f4f4f4;
    font-size: 20px;
}


/*=================================================photos*/

.main {
    background: url("../images/mountain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    padding-right: 150px;
    padding-bottom: 250px;
}

.centered-pic {
    margin: 30px 25px;
    border-bottom-right-radius: 30%;
    padding-left: 5px;
    border: inset;
}

/*==============================================main body*/

.intro-title {
    padding: 30px 25px;
    font-size: 18px;
    color: #708090;
    transition: all 1s ease-in-out;
}

.intro-title:hover {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.img-text {
    color: #708090;
    font-size: 20px;
    letter-spacing: 1px;
}

.bg-color {
    background-color: #ffd700;

}

#map {
    height: 360px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 35px;
    border-radius: 25px;

}


.mid-section {
    background-color: rgb(240, 236, 228);
}


/*==============================================media queries*/

@media (min-width: 768px) {
    #map {
        margin-left: 130px;
    }
    .main {
        height: 730px;
    }
    .intro-title {
        width: 100%;
        padding-left: 300px;
    }
    .centered-pic {
        margin: 10px;
        width: 60%;
    }

}

@media (min-width: 982px) {
    #map {
        margin-left: 220px;
    }
}

/*====================================================footer*/

.footer {
    font-size: small;
    background-color: #8fbc8f;
    height: 100%;
}

.footer-title {
    margin: 0px auto;
    width: 50px;
    padding: 10px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 60%;
}

button[type="submit"] {
    margin-top: 10px;
    margin-bottom: 10px;
}
