@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700|Lobster&display=swap');

.capitalize {
    text-transform: capitalize;
}


html,
body {}

.main {
    background: url("../images/mountain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

    padding-bottom: 250px;
}

p {

    font-family: "Lobster", cursive;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 40px;
    color: #f4f4f4;
}

.firm {
    font-family: "Heebo", sans-serif;
    color: #f4f4f4;
    background-color: #708090;
    border-radius: 120px;
}

.firm:hover {
    text-decoration: none;
    background-color: #f4f4f4;
    color: #708090;
}

#map {
    height: 360px;
    width: 100%;

    margin-top: 50px;
    margin-bottom: 35px;
    border-radius: 25px;

}

.toggle {
    visibility: hidden;
}

.mid-section {
    background-color: #00ffff;
}

.centered-pic {
    margin-left: 55px;
    margin-bottom: 60px;
    border-bottom-right-radius: 30%;
    border: inset;
}

@media (min-width: 768px) {
    #map {
        margin-left: 250px;
    }
    .main {
        height: 730px;
    }
    .mid-toggle {
        position: relative;
        top: 10px;
        left: 520px;
    }
}

.footer {
    font-size: small;
    background-color: #8fbc8f;
    height: 80px;
}

.footer-title {
    margin: 0px auto;
    width: 50px;
    padding: 10px;
}

.mid-toggle {
    height: 100px;
    margin: 2px auto;
    width: 100px;
   padding: 2px;
    font-size: 18px;
    color: #708090;
    transition: all 1s ease-in-out;
}

.mid-toggle:hover {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}
